<div class="wrapper">
  <nav class="nav" id="nav">
    <div class="default-nav">
      <div class="main-nav">
        <div class="main-nav-item">
          <span class="dot"></span>
        </div>
        <div class="main-nav-item">STP Chatbot</div>
      </div>
    </div>
  </nav>
  <div class="inner" id="inner" #scrollable>
    <div class="content" id="content">
      <div *ngIf="!connectionError">
        <div *ngFor="let msg of messages">
          <div *ngIf="msg.author === 'user'">
            <div class="message-wrapper me">
              <div class="circle-wrapper"></div>
              <div class="text-wrapper">{{ msg.message }}</div>
            </div>
          </div>
          <div *ngIf="msg.author === 'bot'">
            <div *ngFor="let content of msg.response">
              <div class="message-wrapper them">
                <div class="circle-wrapper"></div>
                <div class="text-wrapper">{{ content }}
                  <div *ngFor="let category of msg.categories">
                    <button class="btn-conversation" (click)="chooseCategory(category)">{{ category }}</button>  
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="botTyping">
          <div class="message-wrapper them">
            <div class="circle-wrapper"></div>
            <div class="text-wrapper">
              <div class="wave">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="connectionError">
        <h2 class="water-sign">Connection error. Try again...</h2>
        <button class="btn-refresh" type="button" (click)="refreshConnection()">
          Refresh
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!connectionError" class="bottom" id="bottom">
    <input type="text" class="input" id="input" [(ngModel)]="userMessage" (keyup)="handleKeyUp($event)">
    <button type="submit" #sendMessageButton class="send" id="send" (click)="sendMessage(userMessage)" [disabled]="sendingRequest"></button>
  </div>
</div>